<% if @articles.all.any? %>
  <% @articles.all.each do |article| %>
    <h2><%= article.title %></h2>
  <% end %>
<% else %>
  <h1>No articles yet</h1>
<% end %>

<%= link_to 'Add a new story', new_article_path  %>
