<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Uncovering the amazing stories of everyday people</h1>
            <hr>
            <a href="#articles-heading" class="btn btn-default btn-xl">Explore Stories</a>
            <a href="/about" class="btn btn-default btn-xl">Find Out More</a>
        </div>
    </div>
</header>

<section class="about" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="about-section-heading">About</h2>
                <hr class="light">
                <p class="text-faded">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown.</p>
                <a href="/about" class="btn btn-default btn-xl">Find Out More</a>
            </div>
        </div>
    </div>
</section>

<section class="home-page-articles-heading" id="articles-heading">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="home-page-articles-heading">Explore Stories</h2>
                <hr class="dark">
            </div>
        </div>
    </div>
</section>

<section class="container" id="stories">
  <div class="transitions-enabled" id="articles-grid">
    <% if @articles.all.any?  %>
      <% @articles.each do |article| %>
        <%= link_to article_path(article) do %>
          <div class="box panel panel-default article-box">
            <%= image_tag article.photo.url(:homepage) %>
              <div class="article-box-title">
                <div class="article-box-title-content">
                  <div class="article-title">
                    <%= article.title %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      <% else %>
        <h1>No articles yet</h1>
      <% end %>
    </div>
</section>
