<section class="static-page" id="static-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="static-page-heading">Thank You</h2>
                <hr class="light">
            </div>
        </div>
    </div>
</section>
