/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require 'masonry/transitions'
 *= require_tree .
 *= require_self
 */

 html,
 body {
     width: 100%;
     height: 100%;
 }

 body {
   font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
 }

 hr {
     max-width: 50px;
     border-color: #f05f40;
     border-width: 3px;
 }

 hr.light {
     border-color: #fff;
 }

 a {
     color: #f05f40;
     -webkit-transition: all .35s;
     -moz-transition: all .35s;
     transition: all .35s;
 }

 a:hover,
 a:focus {
     color: #eb3812;
 }

 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
     font-family: 'Raleway', sans-serif;
 }

 p {
     margin-bottom: 20px;
     font-size: 16px;
     line-height: 1.5;
 }

 .bg-dark {
     color: #fff;
     background-color: #222;
 }

 .text-faded {
     color: rgba(255,255,255,.7);
 }

 section {
     padding: 50px 0;
 }

 .container {
     text-align: -webkit-center
  }

 aside {
     padding: 50px 0;
 }

 .no-padding {
     padding: 0;
 }

 .navbar-default {
     border-color: rgba(34,34,34,.05);
     font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
     background-color: #fff;
     -webkit-transition: all .35s;
     -moz-transition: all .35s;
     transition: all .35s;
 }

 .navbar-default .navbar-header .navbar-brand {
     text-transform: uppercase;
     font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
     font-weight: 700;
     color: #f05f40;
 }

 .navbar-default .navbar-header .navbar-brand:hover,
 .navbar-default .navbar-header .navbar-brand:focus {
     color: #eb3812;
 }

 .navbar-default .nav > li>a,
 .navbar-default .nav>li>a:focus {
     text-transform: uppercase;
     font-size: 13px;
     font-weight: 700;
     color: #222;
 }

 .navbar-default .nav > li>a:hover,
 .navbar-default .nav>li>a:focus:hover {
     color: #f05f40;
 }

 .navbar-default .nav > li.active>a,
 .navbar-default .nav>li.active>a:focus {
     color: #f05f40!important;
     background-color: transparent;
 }

 .navbar-default .nav > li.active>a:hover,
 .navbar-default .nav>li.active>a:focus:hover {
     background-color: transparent;
 }

 @media(min-width:768px) {
     .navbar-default {
         border-color: rgba(255,255,255,.3);
         background-color: transparent;
     }

     .navbar-default .navbar-header .navbar-brand {
         color: rgba(255,255,255,.7);
     }

     .navbar-default .navbar-header .navbar-brand:hover,
     .navbar-default .navbar-header .navbar-brand:focus {
         color: #fff;
     }

     .navbar-default .nav > li>a,
     .navbar-default .nav>li>a:focus {
         color: rgba(255,255,255,.7);
     }

     .navbar-default .nav > li>a:hover,
     .navbar-default .nav>li>a:focus:hover {
         color: #fff;
     }

     .navbar-default.affix {
         border-color: rgba(34,34,34,.05);
         background-color: #fff;
     }

     .navbar-default.affix .navbar-header .navbar-brand {
         font-size: 14px;
         color: #f05f40;
     }

     .navbar-default.affix .navbar-header .navbar-brand:hover,
     .navbar-default.affix .navbar-header .navbar-brand:focus {
         color: #eb3812;
     }

     .navbar-default.affix .nav > li>a,
     .navbar-default.affix .nav>li>a:focus {
         color: #222;
     }

     .navbar-default.affix .nav > li>a:hover,
     .navbar-default.affix .nav>li>a:focus:hover {
         color: #f05f40;
     }
 }

 #footer {
 	background: #222;
 	text-align: center;
 	padding: 20px 0;
 	color: #FFF;
 }

 .copyright {
 	margin: 0;
 }

 .copyright a{
     border-bottom: 1px dotted #fff;
 }

 #footer span{
     animation-iteration-count: infinite;
     -webkit-animation-iteration-count: infinite;
     color: #ff5252;
 }

 .footer-menu {
   list-style: none;
   padding: 0;
   margin: 0 0 20px;
 }

 .footer-menu li {
   float: left;
   display: inline-block;
   margin: 5px 15px 5px 15px;
 }

 .footer-menu a {
   text-transform: uppercase;
   font-size: 13px;
   font-weight: 700;
   color: #222;
 	 display: block;
 	 line-height: 35px;
 	 text-align: center;
 	 font-size: 14px;
 	 color: rgba(255, 255, 255, .2);
 }

 .footer-menu a:hover {
 	color: rgba(255, 255, 255, .8);
 }

 .social-links {
 	list-style: none;
 	padding: 0;
 	margin: 0 0 20px;
 }

 .social-links li {
   float: right;
 	display: inline-block;
 	margin: 5px;
 }

 .social-links a {
 	width: 36px;
 	height: 36px;
 	display: block;
 	line-height: 35px;
 	text-align: center;
 	border: 1px solid rgba(255, 255, 255, .1);
 	-webkit-border-radius: 3px;
 	   -moz-border-radius: 3px;
 			border-radius: 3px;
 	font-size: 14px;
 	color: rgba(255, 255, 255, .2);
 }

 .social-links a:hover {
 	border: 1px solid rgba(255, 255, 255, .5);
 	color: rgba(255, 255, 255, .8);
 }
