/*// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/

#tag_cloud {
  width: 400px;
  line-height: 1.6em;
  .s { font-size: 0.8em; }
  .m { font-size: 1.2em; }
  .l { font-size: 1.8em; }
}


.landscape-article {
    background-color: #095b7a;
    padding-top: 100px;
    padding-bottom: 20px;
}

.landscape-heading {
    margin-top: 0;
    color: white;
    font-weight: 700;
}


.landscape_layout img {
  max-width: 100%;
}

.profile img {
  max-width: 50%;
}
