.devise-headers {
    background-color: #095b7a;
    padding-top: 100px;
    padding-bottom: 20px;
}

.devise-headers-heading {
    margin-top: 0;
    color: white;
    font-weight: 700;
}

.form-control {
  margin: 10px 0px 10px 0px;
}

.form-group .btn-default {
  color: #fff;
  background-color: #095b7a;
  border-color: #095b7a;
  font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
  font-weight: 700;
}

.form-group .btn-default {
  padding: 6px 50px 6px 50px;
}
