// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.article {
  border: 1px solid black;
  height: 20rem;
  margin: 1rem;
}
.article-title {
  text-align: center;
}
.article-image {
  text-align: center;
}
.story {
  width: 40%;
  margin: 1rem;
  border: 1px solid black;
}
.map, .profile {
  margin: 1rem;
  width: 40%;
  margin: 1rem;
  border: 1px solid black;
}

.map {

}
